@use 'normalize';
@import 'mixins';

:root {
	--margin-width: 0.5rem;
}

html {
	height: 100%;
	overflow: hidden;
}
body {
	//#02102c, #9d0900
	background: linear-gradient(to bottom, #00104b, #b40900) fixed;
	color: white;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	padding: var(--margin-width);

	&>div {
		margin: auto;
		width: 100%;
		height: 100%;
	}
}
main {
	margin: 0 auto;
	position: relative;
}

@import 'components/About.scss';
@import 'components/AllProjects.scss';
@import 'components/Contact.scss';
@import 'components/MainHeader.scss';
@import 'components/Project.scss';