@keyframes section-body-fadein {
	from {
		transform: translateY(50vh);
	}
	to {
		transform: translateY(0);
	}
}

.section-body {
	width: 60rem;
	max-width: 100%;
	height: 10vh;
	padding: 1rem 0rem 10rem 0rem;
	// margin: var(--margin-width) auto;
	@include dark-gradient-bg();
	animation: section-body-fadein 1s cubic-bezier(.22,.61,.36,1);
	z-index: 1;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	&.left {
		transform: translateX(-60rem);
	}

	&.right {
		transform: translateX(60rem);
	}
}