header.main-header {
	position: relative;
	font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
	margin: 8rem auto 4rem auto;
	height: 9rem;
	@include dark-gradient-bg();
	@include simpleheader();
	@include title-glow();
	
	h1 {
		position: absolute;
		font-weight: 500;
		font-size: 6rem;
		margin: 0;
		bottom: 5rem;
		left: 0;
		right: 0;
	}
	&>div {
		position: absolute;
		bottom: 0.5rem;
		left: 0;
		right: 0;
		width: 100%;
		
		nav {
			display: flex;
			justify-content: space-evenly;
			width: 32rem;
			max-width: 80%;
			margin: auto auto 0.5rem auto;
			a {
				width: 10rem;
				
				&.active {
					&::before {
						content: '- ';
					}
					&::after {
						content: ' -';
					}
				}
			}
		}
	}
}
