@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@mixin simpleheader {
	width: 40rem;
	max-width: 100%;
	transition-duration: 300ms;
	white-space: nowrap;

	&:hover {
		width: 41rem;
		transition-duration: 0ms;
	}
}

@mixin title-glow {
	h1, h2, h3 {
	text-shadow: 0 0px 2px transparent, 0 0 2px transparent, 0 4px 16px transparent;
	}
	&:hover {
		h1, h2, h3 {
		text-shadow: 0 0px 2px black, 0 0 2px black, 0 2px 8px white;
	}
}
}

@mixin dark-gradient-bg($oap:1) {
	background: linear-gradient(to bottom, rgb(4, 5, 7, $oap), rgba(12, 22, 36, 0.259));
}

html {
	height: 100%;
	overflow: hidden;
	--margin-width: 0.5rem;
}
body {
	background: linear-gradient(to bottom, #02102c, #9d0900) fixed;
	color: white;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: center;
	// perspective: 100px;
	overflow-x: hidden;
	// transform-style: preserve-3d;
	height: 100%;
	padding: var(--margin-width);
}

header {
	position: relative;
	font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
	margin: 8rem auto 4rem auto;
	// width: 40rem;
	height: 7rem;
	@include dark-gradient-bg();

	@include simpleheader();
	@include title-glow();

	h1 {
		position: absolute;
		font-weight: 500;
		font-size: 6rem;
		margin: 0;
		bottom: 3rem;
		left: 0;
		right: 0;
	}
	p {
		position: absolute;
		bottom: 0.5rem;
		left: 0;
		right: 0;
	}
}

main {
	margin: 0 auto;
	position: relative;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition-duration: 1s;
	margin: 2.5rem auto;
	max-width: 100%;

	.heading {
		@include dark-gradient-bg();
		height: 3rem;
		position: relative;
		transition-duration: 1s;
		border-radius: 0.2rem;
		margin-bottom: var(--margin-width);
		@include simpleheader();
		@include title-glow();

		h2 {
			font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
			font-size: 3.5rem;
			font-weight: 400;
			margin: auto;
			position: absolute;
			bottom: 0.5rem;
			left: 0;
			right: 0;
			cursor: pointer;
		}
	}

	.info {
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: var(--margin-width);
		height: 14rem;
		width: 60rem;
		max-width: 100%;

		.blurb {
			position: relative;
			@include dark-gradient-bg();
			padding: 1rem;
			border-radius: 0.2rem;
			text-align: left;
			height: 10rem;
			cursor: pointer;
			@include title-glow();
			overflow: clip;
			h3 {
				font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
				font-weight: 400;
				margin: 0 0 1rem 0;
			}
			p {
				font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
				font-weight: 300;
				opacity: 70%;
			}
			img {
				margin: auto;
				position: absolute;
				top: 50%;
				bottom: auto;
				left: 50%;
				right: auto;
				height: 260%;
				width: auto;
				transform: translate(-50%,-50%);
				z-index: -1;
				mix-blend-mode: overlay;
				filter: grayscale(1);
			}
			&:first-child {
				img {
					top: 0;
					bottom: 0;
					left: 0;
					right: auto;
					transform: none;
				}
			}
			&:last-child {
				img {
					top: 0;
					bottom: 0;
					left: auto;
					right: 0;
					transform: none;
				}
			}

			outline: 0.2rem rgba(255, 220, 130, 0.5) none;
			outline-offset: -0.3rem;
			transition-duration: 300ms;

			&:hover {
				height: 10.5rem;
				transition-duration: 0ms;
				p {
					opacity: 100%;
				}
			}
		}
	}
}

#deco {
	// width: 100%;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	z-index: -1;
	left: 50%;

	.deco-cross {
		display: block;
		// transform: translate3D(-0.1rem, -0.1rem, -20px) scale(1);
		// mix-blend-mode: color-dodge;
		position: absolute;
		// top: 50%;
		// left:calc(50% - 10rem);
		transform-style: preserve-3d;

		&::before {
		background-color: #c38d0088;
		content: "";
		display: block;
		transform: translateX(-1.4rem);
		width: 3rem;
		height: 0.2rem;
		border-radius: 1rem;
		}
	
		&::after {
		background-color: #c38d0088;
		content: "";
		display: block;
		transform: translateY(-1.6rem);
		width: 0.2rem;
		height: 3rem;
		border-radius: 1rem;
		}
	}
}

@media screen and (max-width: 768px) {
	header {
		h1 {
			font-size: 3rem;
		}
	}

	section {
		margin: 3.5rem auto;
		.heading {
			height:2rem;
			margin-bottom: calc(var(--margin-width) + 0.5rem);
			h2 {
				font-size: 2.5rem;
				text-align: left;
				margin-left: 1rem;
			}
		}
		.info {
			grid-template-columns: none;
			grid-template-rows: repeat(10rem);
			height: auto;
			.blurb {
				padding: 0.75rem;
				height: 8rem;
				@include dark-gradient-bg(0.75);
				&:hover {
					height: 8rem;
				}

				img {
					height: 300%;
					width: auto;
				}
				&:first-child {
					@include dark-gradient-bg();
					img {
						
					}
				}
				&:last-child {
					@include dark-gradient-bg(0.5);
					img {

					}
				}
				p {
					margin-left: var(--margin-width);
				}
			}
		}
	}
}